@font-face {
  font-family: "Geist";
  src: url(./GeistVF.woff2);
}
:root {
  --light-green-color: #2ecc71;
  --light-teal-color: #1abc9c;
  --light-blue-color: #3498db;
  --dark-blue-color: #2980b9;
  --light-purple-color: #9b59b6;
  --dark-purple-color: #8e44ad;
  --light-black-color: #34495e;
  --dark-black-color: #2c3e50;
  --light-white-color: #ecf0f1;
  --light-gray-color: #95a5a6;
  --light-red-color: #e74c3c;
  --light-orange-color: #e67e22;
  --light-yellow-color: #f1c40f;
}
body {
  background-color: var(--light-blue-color);
  color: var(--dark-black-color);
  font-family: "Geist";
  font-weight: 100;
  margin: 0px;
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  height: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: var(--light-white-color);
  background-color: var(--light-blue-color);
  border-bottom: 3px solid var(--dark-blue-color);
}
.task-options,
.tags-options {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.bottom {
  display: flex;
  height: 100%;
}
.sidebar {
  /* Change to min width */
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  flex: 1.5;
}
.sidebar-title {
  font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 150;
  color: var(--light-white-color);
}
.content {
  display: flex;
  align-content: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  flex: 7;
}
.card-container {
  width: clamp(100px, 200px, 20%);
  background-color: var(--light-white-color);
  height: 70px;
  border: 3px solid var(--dark-blue-color);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.priority-high {
}

button {
  width: 110px;
  height: 30px;
  border: 3px solid var(--dark-blue-color);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--light-white-color);
  color: var(--dark-black-color);
  font-size: 1.1em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
button.add-task-btn {
  width: 60px;
}

button:hover {
  background: var(--light-blue-color);
  color: var(--light-white-color);
  font-size: 1.15em;
}
button:active {
  top: 1px;
}
::backdrop {
  background-color: black;
  opacity: 0.55;
}
dialog {
  width: 400px;
}
.task-creation-form {
  display: flex;
  flex-direction: column;
}
input[type="date"] {
  width: fit-content;
}
